.section {
  &--maxwidth {
    width: 35rem;
    margin: auto;
  }

  &--justify {
    text-align: justify;
  }

  &--hyphenation {
    hyphens: auto;
  }

  &--lineheight {
    line-height: 1.4;
  }

  &--initial {
    h1+p, h2+p, h3+p {
      &::first-letter {
        font-size: 75px;
        float: left;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
      }
    }
  }

  &--paragraph-spacing {
    p {
      margin-bottom: 1rem;
    }
  }
}
